@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.headerBlock {
    z-index: 99;

    position: fixed;
    width: 100%;
    height: 110px;
    //background-color: $whiteColor;
    @include flex(flex, row, center, flex-start);
    .headerContainer {
        justify-content: flex-end !important;
        .burgerButton {
            transition: font-size 0.1s ease-in-out;
            height: 60px;
            width: 60px;
            background-color: $whiteColor;
            border-radius: 30px;
            @include flex(flex, column, center, center);
            color: $textColor;
            @media screen and (max-width: 500px) {
                margin-bottom: 0;
            }
            .menu {
                position: relative;
                &::before {
                    border-radius: 2px;
                    top: -6px;
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: $textColor;
                    position: absolute;
                    transition: 0.2s;
                    left: 50%;
                    transform: translate(-50%, 50%);

                }
                &::after {
                    border-radius: 2px;
                    bottom: -6px;
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: $textColor;
                    position: absolute;
                    transition: 0.2s;
                    left: 50%;
                    transform: translate(-50%, 50%);
                }
            }
            .active {
                &::before {
                    transform: translate(-50%, 50%) rotate(45deg);
                    top: -2px;
                    bottom: 0;
                }
                &::after {
                    transform: translate(-50%, 50%) rotate(-45deg);
                    top: -2px;
                    bottom: 0;
                }
            }
        }
    }
}

//.headerBlock {
//    height: 80px;
//    background-color: $whiteColor;
//    @include flex(flex, row, center, flex-start);
//    .headerContainer {
//        justify-content: flex-end !important;
//    }
//}
