@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.headerBlock {
    height: 80px;
    background-color: $whiteColor;
    @include flex(flex, row, center, flex-start);
    .headerContainer {
        justify-content: flex-end !important;
    }
}

