@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.modalBlock {
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .modalContent {
    width: 800px;
    min-height: 500px;
    background-color: $bgColor;
    position: relative;
    .modalHeader {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      //flex-wrap: wrap;
      justify-content: center;

      background-color: $textColor;
      box-sizing: border-box;
      height: 120px;
      padding: 20px 30px;
      width: 100%;

      & h2 {
        @include text($fontFamily, 35px, 800, $bgColor);
        //text-shadow: 1px 1px $textColor;
        line-height: 1em;
        margin: 0 0 5px;
      }
      & span {
        @include text($fontFamily, 16px, 400, $textSecondColor);
        //line-height: 1.75em;
      }
    }
    .modalBody {

    }
  }
}
