.item {
    width: 32.5%;
    /*margin-right: 10px;*/
}

.skill {
    min-height: 210px;
    padding: 60px 40px 90px 40px;
    background-color: #FFF;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill a {
    text-decoration: none;
    color: #18191d;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #e5b8d5;
}

.skill a h5 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #18191d;
    line-height: 1.25em;
    font-family: 'Syne', sans-serif;
}

.skill a p {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #868a9b;
    font-weight: 400;
}

.numb {
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0,0,0,0.3);
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
        margin: 0 0 20px;
    }
}