.skill {
    width: 320px;
    height: 350px;
    background-color: #0064a5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #e5b8d5;
}