@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.item {
  width: 32.5%;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 0 0 20px;
  }
  &:hover {
    .skill {
      background-color: $bgSecondColor;
      & span {
        & h5 {
          color: $whiteColor;
        }
        & p {
          color: $whiteColor;
        }
        & .numb {
          -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
        }
        & .icon {
          color: $whiteColor;
        }
      }
    }
  }

  .skill {
    min-height: 210px;
    padding: 60px 40px 90px 40px;
    background-color: $whiteColor;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 0.4s ease-in-out;

    & span {
      text-decoration: none;
      color: $textColor;

      .icon {
        color: $textColor;
        font-size: 50px;
        margin-bottom: 20px;
      }

      & h5 {
        @include text($fontFamily, 24px, 700, $textColor);
        margin:0 0 20px;
        line-height: 1.25em;
      }

      & p {
        @include text($fontFamily, 16px, 400, $textSecondColor);
        line-height: 1.75em;
        margin: 0 0 20px;
      }

      .numb {
        font-size: 48px;
        font-weight: 900;
        position: absolute;
        bottom: 40px;
        right: 40px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
        opacity: .6;
        box-sizing: border-box;
        display: block;
      }
    }
  }
}
