.aboutBlock {
    height: 60vh;
    background-color: #e3b7d4;
}

.aboutContainer {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.progressBar {
    width: 50%;
    /*height: 280px;*/
    background-color: #0064a5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience {
    /*border: 3px solid red;*/
    background-color: #c0e0f2;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    /*border: 3px solid red;*/
    background-color: #7a1a81;
    width: 50%;
}