@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.aboutBlock {
  min-height: 60vh;
  background-color: $bgColor;
  padding-bottom: 120px;
  padding-top: 120px;

  .aboutContainer {
    @include flex(flex, column, flex-start, center);
    flex-wrap: nowrap;

    .experience {
      width: 100%;
      @include flex(flex, row, flex-start, space-between);
      flex-wrap: wrap;

      .info {
        width: 45%;
        @media screen and (max-width: 650px) {
          width: 100%;
          margin-bottom: 20px;
        }

        & p {
          @include text($fontFamily, 16px, 400, $textSecondColor);
          line-height: 1.75em;
          margin: 0 0 20px;
          display: block;
        }
      }

      .progressBar {
        @include flex(flex, column, none, space-around);
        width: 50%;
        @media screen and (max-width: 650px) {
          width: 100%;
        }
      }
    }
  }
}
