@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.aboutBlock {
  min-height: 60vh;
  background-color: $bgColor;
  padding-bottom: 120px;
  padding-top: 120px;

  .aboutContainer {
    border: none !important;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    .experience {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .info {
        /*border: 3px solid red;*/
        width: 45%;
        @media screen and (max-width: 650px) {
          width: 100%;
          margin-bottom: 20px;
        }

        & p {
          @include text($fontFamily, 16px, 400, $textSecondColor);
          line-height: 1.75em;
          margin: 0 0 20px;
          display: block;
        }
      }

      .progressBar {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media screen and (max-width: 650px) {
          width: 100%;
        }

        .barTitle {
          @include text($fontFamily, 16px, 700, $textColor);
          position: relative;
          line-height: 1.5em;
          text-align: left;
          margin: 0 0 5px 0;
          display: flex;
          justify-content: space-between;
        }

        .bar {
          position: relative;
          background-color: #e6e7eb;
          height: 6px;
          margin: 0 0 30px 0;
          border-radius: 10px;
          display: block;

          .barFillDesign {
            @include bar(90%, #868a9b, 10px, absolute, 6px);
          }

          .barFillBranding {
            @include bar(80%, #868a9b, 10px, absolute, 6px);
          }

          .barFillMedia {
            @include bar(95%, #868a9b, 10px, absolute, 6px);
          }

          .barFillDesign {
            @include bar(85%, #868a9b, 10px, absolute, 6px);
          }
        }
      }
    }
  }
}
