.skillsBlock {
    /*height: 80vh;*/
    background-color: #f8f9fa;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.skills {
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
    .skills {
        justify-content: center;

    }
}