.skillsBlock {
    height: 100vh;
    background-color: #c2e2f3;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.skills {
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titleDescription {
    max-width: 600px;
}