@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
  background-color: $bgColor;
  padding-bottom: 120px;
  padding-top: 60px;

  .skillsContainer {
    @include flex(flex, column, center, center);
    flex-wrap: nowrap;

    .skills {
      width: 100%;
      @include flex(flex, row, flex-start, space-between);

      @media screen and (max-width: $maxWidth) {
        @include flex(flex, column, center, center);
      }
    }
  }
}