@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
  background-color: $bgColor;
  padding-bottom: 120px;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: $maxWidth) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}