@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-color: $bgColor;
  @media screen and (max-width: $maxWidth) {
    display: flex;
    align-items: center;
  }

  .mainContainer {
    width: 100%;
    justify-content: flex-start;
    @media screen and (max-width: $maxWidth) {
      margin: 0 auto;
      justify-content: center;
      min-height: 20vh;
    }

    .photo {
      width: 60%;
      height: 600px;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: $maxWidth) {
        width: 90%;
        height: 40%;
      }

      & img {
        width: 100%;
        border-radius: 50%;
      }

      .imgContainer {
        height: 100%;
        width: 600px;
      }

    }

    .text {
      width: 40%;
      display: flex;
      justify-content: flex-start;
      position: relative;
      @media screen and (max-width: $maxWidth) {
        width: 80%;
      }

      .textContainer {
        position: absolute;
        top: -200px;
        left: -100px;
        content: '';
        height: 100%;
        @media screen and (max-width: $maxWidth) {
          position: unset;
        }
      }

      & h1 {
        & span {
          @include text($fontFamily, 70px, 800, $textColor);
          text-shadow: 1px 1px $whiteColor;
          line-height: 1em;
          margin: 0;
          @media screen and (max-width: 600px) {
            @include text($fontFamily, 50px, 800, $textColor);
          }
        }
      }

      & h6 {
        @include text($fontFamily, 14px, 700, $textColor);
        line-height: 1.25em;
        text-shadow: 0.5px 0.5px $whiteColor;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        margin-top: 0;
      }

      & span {
        @include text($fontFamily, 16px, 400, $textSecondColor);
        line-height: 1.75em;
        margin: 0 0 20px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        max-width: 400px;
      }

      .button {
        &:hover {
          transform: scale(1.05);
        }
        transition: 0.1s ease-in-out;
        position: absolute;
        right: 35%;
        width: 120px;
        height: 50px;
        border: 3px solid $textColor;
        //background-color: $bgColor;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $maxWidth) {
          //position: unset;
          position: center;
        }

        & a {
          @include text($fontFamily, 15px, 700, $textColor);
          line-height: 1.2em;
          text-decoration: none;
        }
      }
    }
  }
}