.mainBlock {
    height: 100vh;
    background-color: #e5b8d5;
}

.photo {
    width: 600px;
    height: 600px;
    background-color: #0064a5;
}

.text {
    width: 600px;
    background-color: #0064a5;
}