@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.iconBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  & a {
    text-decoration: none;
    &:hover {
      & .icon {
        //width: 45px;
        //height: 45px;
        font-size: 40px;
      }
    }

    & .icon {
      transition: font-size 0.1s ease-in-out;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      height: 40px;
      width: 40px;
      color: #18191d;
      margin-bottom: 20px;
      @media screen and (max-width: 500px) {
        margin-bottom: 0;
      }
    }
  }
}
