@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.iconBlock {
  @include flex(flex, column, center, flex-start);
  box-sizing: border-box;

  & a {
    text-decoration: none;

    &:hover {
      & .icon {
        font-size: 40px;
      }
    }

    & .icon {
      transition: font-size 0.1s ease-in-out;
      @include flex(flex, column, center, center);
      font-size: 30px;
      height: 40px;
      width: 40px;
      color: #18191d;
      margin-bottom: 20px;
      @media screen and (max-width: 500px) {
        margin-bottom: 0;
      }
    }
  }
}
