@mixin text($fontFamily, $fontSize, $fontWeight, $color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin bar($backgroundColor, $borderRadius, $position, $height) {
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  position: $position;
  height: $height;
}