@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  background: $whiteColor;
  padding: 75px 0 40px 0;
  width: 100%;
  box-sizing: border-box;
  display: block;

  .items {
    width: 100%;
    @include flex(flex, row, flex-start, space-evenly);
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .item {
      flex: 0 0 auto;
      width: 33.33333333%;
      padding: 0 12px 0;
      @media screen and (max-width: 500px) {
        width: 100%;
        margin-bottom: 30px;
      }

      & h5 {
        @include text($fontFamily, 20px, 700, $textColor);
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }

      & p {
        @include text($fontFamily, 16px, 400, $textSecondColor);
        line-height: 1.75em;
        margin: 0 0 20px;
      }

      .icons {
        @include flex(flex, row, flex-start, space-around);
        @media screen and (max-width: 500px) {
          justify-content: space-between;
        }
      }
    }
  }
}
