@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.workBlock {
  min-height: 20vh;
  background-color: $bgSecondColor;
  padding-bottom: 60px;
  padding-top: 60px;
  background-attachment: fixed;
  background-image: url(../assets/images/banner.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .workContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      & h2 {
        @include text($fontFamily, 40px, 700, $bgColor);
        line-height: 1.2em;
      }
    }


    .button {
      &:hover {
          transform: scale(1.05);
      }
      transition: 0.1s ease-in-out;
      width: 120px;
      height: 50px;
      background-color: $bgColor;
      display: flex;
      align-items: center;
      justify-content: center;

      & a {
        @include text($fontFamily, 15px, 700, $textColor);
        line-height: 1.2em;
        text-decoration: none;
      }
    }
  }
}