@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  @include flex(flex, column, flex-start, space-evenly);
  padding-bottom: 120px;
  padding-top: 120px;
  .projectsContainer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    @include flex(flex, row, center, center);
    flex-wrap: wrap;
  }
  .projects {
    width: 100%;
    @include flex(flex, row, center, space-between);
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
