.projectsBlock {
    /*height: 100vh;*/
    background-color: #f8f9fa;
    border: 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectsContainer {
    /*border: 1px solid;*/
    width: 80%;
    /*height: 100%;*/
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1261px) {
    .projects {
        justify-content: center;
    }
}
